<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Database Query Executor</title>
	<link rel="stylesheet" href="../static/template.css">
</head>
<body>
	<div class="home-container">
		<div class="header">
			<h1>Database Query Executor</h1>
		</div>
	</div>
	<div class="home-card">
		<form method="POST" action="{{ url_for('execute_query_helper') }}">
			<div class="drop_box">
				<div class="wrapper">
					<textarea name="query" id="query" placeholder="Enter the Query" rows="10" cols="50"></textarea>
				</div>
				<input class="home-btn" type="submit" value="Execute Query">
			</div>
		</form>
		{% if not_query %}
        	<p class="error">{{ not_query }}</p>
        {% endif %}
	</div>
</body>
</html>
