<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <p>Your Query : {{query}}</p>
    <p>Detected Database : {{lang}}</p>
    <form action="{{ url_for('display') }}" method="POST">
        <input type="hidden" name="lang" value="{{ lang }}">
        <input type="hidden" name="query" value="{{ query }}">
        <label for="db_name">Database Name:</label>
        <input type="text" name="db_name" id="db_name"><br><br>
        <label for="db_pass">Database Password:</label>
        <input type="password" name="password" id="password"><br><br>
        <input type="submit" value="Results">
    </form>
</body>
</html>