
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Database Query Executor</title>
	<link rel="stylesheet" href="../static/home.css">
</head>
<body>
	<div class="home-container">
		<div class="header">
			<h1>Database Query Executor</h1>
		</div>
	</div>
	<div class="home-card">
        <div class="drop_box">
            <form action="{{ url_for('comparision') }}">
                <input class="home-btn" type="submit" value="Comparision">
            </form>
            <form action="{{ url_for('execute_query') }}">
                <input class="home-btn" type="submit" value="Execute Query">
            </form>
        </div>
	</div>
</body>
</html>
