@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
table {
    border-collapse: collapse;
    width: 700px;
    height: 400px;
}
th,
td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #eee;
}

tbody tr:nth-child(odd) {
    background: #ccc;
}