@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #c5e8b7;
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    /* background: linear-gradient(to top, #56e2d7 0%, #58cff1 100%); */
}

.header {
    margin: 60px;
    text-align: center;
}

.home-card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 270px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
}

.home-card-1 {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
}
.home-card-2 {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 220px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 30%;
}
.details{
    padding: 100px;
}

.drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
}

.home-btn {
    text-decoration: none;
    background-color: #57c84d;
    /* background-color: #58cff1; */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    margin-top: 20px;
    cursor: pointer;
}

.home-btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #57c84d;
    /* color:#58cff1; */
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

::selection {
    color: #fff;
    background: #4671ea;
}

.wrapper textarea {
    width: 100%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671ea;
    border: 1px solid #bfbfbf;
}

textarea::placeholder {
    color: #b3b3b3;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}
.header {
    margin-bottom: 18px;
}
.results-card h1,h2,p{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.results-card{
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 10px 30px 40px;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 600px;
}


.container {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c5e8b7;
}

.error {
    color: red;
  }

.no-sql-container{
    width: 600px;
    height: 600px;
    padding: 32px;
    border-radius: 16px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 24px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 24px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 24px -10px rgba(0, 0, 0, 0.4);
}
.db-no-sql{
    height: 30px;
    width: 400px;
}
.right {
    float: right;
}

.left {
    float: left;
}
.drop_box-1 {
    margin: 100px 40px;
    width: 450px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
}